.form {
  margin: 5%;
}

.header {
  width: 100%;
  text-align: center;
}

.login-button-group {
  display: flex;
  justify-content: center;
  margin: 0% auto;
}

.ant-btn-primary {
  background-color: black;
  border-color: #302f2f;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
  background-color: rgba(20, 20, 20, 0.76);
  border-color: #333232;
}

.ant- body {
}
