.collapse-parent {
  background-color: default;

}

.ant-collapse-header {
  text-align: center;
}

.trip-header {
  text-align: center;
  font-size: 170%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 1%;
  background: white;
}
